@import 'https://fonts.googleapis.com/css?family=Titillium+Web';
body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     transition: all 0.3s ease;
     background: #B6DCD6;
     color: #2D5969;

       transition:  all 0.4s cubic-bezier(0.33, -0.47, 0.49, 2.45);
			  animation: 2.5s animacores infinite;
}
body.Ingame{
	animation: none !important;
}

body.Ingame .title{
animation: none !important;}
.title{
	  animation: 2.5s scalecoisa infinite;
		    line-height: 1.2;
}
html{ height:  100%;}
h2 {
	font-weight: normal;
	font-size: 18px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
    margin: 0px auto;
    width: 420px;
}

button {
	font-size: 18px;
	cursor: pointer;
}


.container {
	position: relative;
    width: 460px;
    margin: 0 auto;
    text-align: center;
    background: transparent;
    padding: 20px;
    border-radius: 25px;
}

#options {
	margin: 10px 0;
}

.next-question {
	margin-right: 10px;
}

#score {
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
}

.btn{
        border: 0;
    padding: 5px 30px;
    background:rgba(1, 160, 134, 0.94);
    color: white;
}
.btnblack{
     border: 0;
    padding: 5px 30px;
   background:  rgb(80, 80, 80);
   color: white;
}
h1{
    font-weight: bold;

    font-size: 42px;
}

li > label {
	width: 400px;
background: rgba(255, 255, 255, 1);
border: 2px solid rgba(0,0,0,0.1);
color: #123C4B;
    height: 20px;
    margin: 5px;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative !important;
    display: block;
}
input[type=radio]{
	position: absolute;
    visibility: hidden;
}
 input[type=radio]:checked ~ label {
    transition: all 0.5s ease;
    background:   #FD7310 ;

}
body ~ label.correto{

     background-color: #6fc7d4;
}

body ~ label.errado{

     background-color: #6fc7d4;
}

#startQuiz{
	border-radius: 6px;
transition: all .2s cubic-bezier(0.24, 0.89, 0, 1.64);
}
#startQuiz:hover{
	 transform: scale(1.1);
	 cursor: pointer;
}
 label.correto {
    transition: all 0.1s ease;
    background:   #8BC34A  !important;

}
 label.errado {
    transition: all 0.1s ease;
    background:   #F44336  !important;

}
li > label:hover {
       background:  #38B08A;
    /* padding: 15px; */
    transform: scale(1.3);
    text-align: center;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 15px 0px;
}

#score span{
font-size: 130px;}

.corgi{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    background-size: cover;
    transform: scale(0.9);
    z-index: -1;
    left: 211px;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.33, -0.47, 0.49, 2.45);
    transition-delay: 500ms;
}

.container.finish .corgi{
    top: -70px;
    opacity: 1;
    transform: scale(2.9);
    animation: 1s pined infinite;
}

@keyframes pined{

    0%,100%{
        transform: rotate(0deg) scale(2.4);
    }
    25%{
         transform: rotate(-25deg) scale(2.9);
    }
     75%{
         transform: rotate(25deg) scale(2.9);
    }

}

@keyframes scalecoisa{
	0%{
	 transform: scale(1);
	}
	50%{
			 transform: scale(1.2);
	}
	100%{
		 transform: scale(1);
	}

}

@keyframes animacores{
  0%{
    background-color: #B6DCD6;
  }
		50%{
		  background-color: #FFF;
	}
}
